<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class=" panel-heading">
        Imagén de la Cuenta
      </div> 
      <div class=" panel-body">
        
      </div> 
    </div>
  </div>
  <div class="col-md-9 ">
    <div class="panel panel-default">
      <div class=" panel-heading">
        Detalles de la Cuenta
      </div> 
      <table class="table table-hover table-striped table-condensed">
        <tr>
          <td><b>Nombre:</b><%= @usuario.nombre %></td>
          <td><b>Apellido:</b><%= @usuario.apellido %></td>
        </tr>
        <tr>
          <td><b>Agencia:</b><%= @usuario.agencia %></td>
          <td><b>Rol:</b><%= @usuario.rol %></td>
        </tr>
        <tr>
          <td><b>Estado:</b><%= @usuario.estado %></td>
          <td><b>Código:</b><%= @usuario.codigo %></td>
        </tr>
        <tr>
          <td><b>Correo:</b><%= @usuario.email %></td>
          <td><b>Código:</b><%= @usuario.codigo %></td>
        </tr>
        <tr>
          <td><b>Cédula:</b><%= @usuario.cedula %></td>
          <td><b>última:</b><%= @usuario.last_sign_in_at %></td>
        </tr>

      </table> 
    </div>
  </div>
</div>




<%= link_to 'Editar', edit_usuario_path(@usuario) %> |
<%= link_to 'Atras', usuarios_path %>
