

<h1>Listing Turnos</h1>

<table class="table table-hover table-condensed table-striped">
  <thead>
    <tr>
      <th>Agencia</th>
      <th>Nombre</th>
      <th>Asunto</th>
      <th>Descripcion</th>
      <th>Hora ingreso</th>
      <th>Hora atencion</th>
      <th>Hora finalizacion</th>
      <th>Comentario</th>
      <th>Usuario ingreso</th>
      <th>Usuario atencion</th>
      <th>Estado</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @turnos.each do |turno| %>
      <tr>
        <td><%= turno.agencia.try(:nombre) %></td>
        <td><%= turno.nombre %></td>
        <td><%= turno.asunto %></td>
        <td><%= turno.descripcion %></td>
        <td><%= turno.hora_ingreso %></td>
        <td><%= turno.hora_atencion %></td>
        <td><%= turno.hora_finalizacion %></td>
        <td><%= turno.comentario %></td>
        <td><%= turno.usuario_ingreso.try(:nombre) %></td>
        <td><%= turno.usuario_atencion.try(:nombre) %></td>
        <td><%= turno.type %></td>
        <td><%= link_to 'Ver', turno_path(turno) %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div id="myfirstchart" style="height: 250px;"></div>

<script type="text/javascript">
  Morris.Donut({
    element: 'myfirstchart',
    data: [
      {label: "Download Sales", value: 12},
      {label: "In-Store Sales", value: 30},
      {label: "Mail-Order Sales", value: 20}
    ]
  });
</script>
